.App {
  width: 40%;
  margin: 2em auto;
  background-color: #394049;
  border-radius: 15px;
  color: #fff;
  height: 100vh;
}

.todo-header {
  padding: 0.5em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.todo-header h1 {
  margin: 0;
}

.list-todo {
  width: 80%;
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px;
}

.div-tarefas {
  background-color: #7c8897;
  border-radius: 10px;
  padding: 15px;
}

.input-enviar {
  margin: 20px;
  width: 100px;
  height: 25px;
  background-color: greenyellow;
  font-size: 18px;
}

.list-todo {
  margin: 10px;
}

.list-todo button {
  margin-left: 150px;
}

.form-todo {
  margin: 10px;
}

.form-todo input {
  margin: 10px;
  height: 25px;
}

.div-container {
  display: flex;
  justify-content: space-between;
}

.button-remove {
  background-color: #7c8897;
  height: 30px;
  font-size: 25px;
  border: none;
  color: greenyellow;
}
